.dog-button-wrapper {
  width: 22%;
  max-width: 320px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.dog-button-element {
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.dog-button-wrapper.selected {
  background: linear-gradient(90deg, #cc99ff, #4747d1);
}

.dog-button-element.selected {
  color: #ffffff;
}

