.dog-image-wrapper {
  display: inline-block;
  width: 23%;
  min-width: 100px;
  height: auto;
  max-height: 20em;
  vertical-align: top;
  margin: 4px;
}

.dog-image-img-element {
  width: 100%;
  min-height: 80%;
  max-height: 100%;
  object-fit: cover;
}
