.dog-images-section {
  background-color: #d9d9d9;
  height: 100%;
}

.dog-images-section-inner-spacer {
  margin: 24px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

