
.homepage-dog-buttons-section-wrapper {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.homepage-dog-images-section-wrapper {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.homepage-content-block {
  display: flex;
  justify-content: center;
}

.homepage-content-block > div {
  width: 80%;
}

.homepage-app-header-section {
  height: 80px;
}

.homepage-dog-buttons-section {
  height: 150px;
}

.homepage-dog-images-section {
  height: auto;
}
